@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(0 0% 3.9%);
  color: hsl(0 0% 98%);
  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image {
  background-image: linear-gradient(
    270deg,
    rgb(255, 224, 116) 0%,
    rgb(80, 202, 228) 51.8018%,
    rgb(155, 92, 255) 100%
  );
}
